In [5]:
import pandas as pd

In [6]:
hmh = pd.read_excel('./data/허무함.xlsx')
sc = pd.read_excel('./data/상처.xlsx')
dh = pd.read_excel('./data/당황.xlsx')

In [7]:
aug = pd.concat([hmh, sc, dh], axis=0)
aug = aug.reset_index(drop=True)
aug

                      word emotion  emo_num
0          무어라 할 말이 없네....     허무함       13
1          말이 할 무어라 없네....     허무함       13
2          없네.... 할 말이 무어라     허무함       13
3          무어라 할 말이 없네....     허무함       13
4                 허탈하네요 진짜     허무함       13
...                    ...     ...      ...
1025  이짓할줄예상은했는데 설마 근데진짜한다      당황        8
1026  설마 이짓할줄예상은했는데 근데진짜한다      당황        8
1027  근데진짜한다 설마 이짓할줄예상은했는데      당황        8
1028       친일파일줄이야... 티파니가      당황        8
1029       티파니가 친일파일줄이야...      당황        8

[1030 rows x 3 columns]

In [8]:
df = pd.read_excel('./data/부정일상문.xlsx')
df

                                           word emotion  emo_num
0                      언니 동생으로 부르는게 맞는 일인가요..??      당황        8
1                                  그냥 내 느낌일뿐겠지?      걱정       16
2                                아직너무초기라서 그런거죠?      걱정       16
3                                 유치원버스 사고 낫다던데      걱정       16
4                                   근데 원래이런거맞나요      불안       10
...                                         ...     ...      ...
6818  새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증       11
6819             그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만       17
6820                   위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노        6
6821                           짱개와는 연을 끊는게 상책이다      분노        6
6822                          그리고 1원하나 챙긴게 없다고?      짜증       11

[6823 rows x 3 columns]

In [9]:
DF = pd.concat([df,aug], axis=0)
DF = DF.reset_index(drop=True)
DF

                          word emotion  emo_num
0     언니 동생으로 부르는게 맞는 일인가요..??      당황        8
1                 그냥 내 느낌일뿐겠지?      걱정       16
2               아직너무초기라서 그런거죠?      걱정       16
3                유치원버스 사고 낫다던데      걱정       16
4                  근데 원래이런거맞나요      불안       10
...                        ...     ...      ...
7848      이짓할줄예상은했는데 설마 근데진짜한다      당황        8
7849      설마 이짓할줄예상은했는데 근데진짜한다      당황        8
7850      근데진짜한다 설마 이짓할줄예상은했는데      당황        8
7851           친일파일줄이야... 티파니가      당황        8
7852           티파니가 친일파일줄이야...      당황        8

[7853 rows x 3 columns]

In [10]:
DF = DF.drop_duplicates(['word'], keep='first')
DF = DF.reset_index(drop=True)
DF

                          word emotion  emo_num
0     언니 동생으로 부르는게 맞는 일인가요..??      당황        8
1                 그냥 내 느낌일뿐겠지?      걱정       16
2               아직너무초기라서 그런거죠?      걱정       16
3                유치원버스 사고 낫다던데      걱정       16
4                  근데 원래이런거맞나요      불안       10
...                        ...     ...      ...
7606                 내글 배 당했다.      당황        8
7607                내글 당했다. 삭제      당황        8
7608      설마 이짓할줄예상은했는데 근데진짜한다      당황        8
7609      근데진짜한다 설마 이짓할줄예상은했는데      당황        8
7610           친일파일줄이야... 티파니가      당황        8

[7611 rows x 3 columns]

In [11]:
DF.to_excel('./data/일상문+증강.xlsx', index=False)

In [12]:
dic = pd.read_excel('./data/최종감성사전.xlsx')
dic

                                            word emotion  emo_num
0                                      가능성이 늘어나다      만족        4
1                                       가능성이 있다고      기쁨        1
2                                           가능하다      편안        0
3                                       가볍고 상쾌하다      기쁨        1
4                                        가볍고 상쾌한      기쁨        1
...                                          ...     ...      ...
27102  새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증       11
27103             그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만       17
27104                   위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노        6
27105                           짱개와는 연을 끊는게 상책이다      분노        6
27106                          그리고 1원하나 챙긴게 없다고?      짜증       11

[27107 rows x 3 columns]

In [13]:
fdic = pd.concat([dic,DF], axis=0)
fdic = fdic.reset_index(drop=True)
fdic

                       word emotion  emo_num
0                 가능성이 늘어나다      만족        4
1                  가능성이 있다고      기쁨        1
2                      가능하다      편안        0
3                  가볍고 상쾌하다      기쁨        1
4                   가볍고 상쾌한      기쁨        1
...                     ...     ...      ...
34713             내글 배 당했다.      당황        8
34714            내글 당했다. 삭제      당황        8
34715  설마 이짓할줄예상은했는데 근데진짜한다      당황        8
34716  근데진짜한다 설마 이짓할줄예상은했는데      당황        8
34717       친일파일줄이야... 티파니가      당황        8

[34718 rows x 3 columns]

In [14]:
fdic = fdic.drop_duplicates(['word'], keep='first')
fdic = fdic.reset_index(drop=True)
fdic

                       word emotion  emo_num
0                 가능성이 늘어나다      만족        4
1                  가능성이 있다고      기쁨        1
2                      가능하다      편안        0
3                  가볍고 상쾌하다      기쁨        1
4                   가볍고 상쾌한      기쁨        1
...                     ...     ...      ...
27834             내글 배 당했다.      당황        8
27835            내글 당했다. 삭제      당황        8
27836  설마 이짓할줄예상은했는데 근데진짜한다      당황        8
27837  근데진짜한다 설마 이짓할줄예상은했는데      당황        8
27838       친일파일줄이야... 티파니가      당황        8

[27839 rows x 3 columns]

In [15]:
fdic.to_excel('./data/최종사전_증강(부정).xlsx', index=False)